@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@layer base {
  ::-webkit-scrollbar {
    width: 0;
  }

  :root[data-theme="light"] {
    --text-secondary: #fefefe;
    --background-color: #edf6f9;
    --navbar-color: #e29578;
    --secondary-color: #ffddd2;

    --primary-color: #39b2ad;
    --hover-color: #006d77;
    --text-primary: #3e3e3e;
    --grey-text: #6d6d6d;
    --hover-primary-color: #9ffffc;
    --hover-secondary-color: #ffd9cc;
    --about-section-bg: #fefefe;

  }

  :root[data-theme="dark"] {
    --text-secondary: #3e3e3e;
    --background-color: #1f1f1f;
    --navbar-color: #ffddd2;
    --secondary-color: #e29578;

    --primary-color: #39b2ad;
    --hover-color: #006d77;
    --text-primary: #fefefe;
    --grey-text: #e2e2e2;
    --hover-primary-color: #9ffffc;
    --hover-secondary-color: #d8a594;
    --about-section-bg: #111111;

  }

  * {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background-color);
    font-family: "Poppins", sans-serif;
  }

  #bigMenu {
    z-index: 10;
  }

  ::selection {
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  .skill-section {
    background: rgba(237, 246, 249, 0);
    box-shadow: 0 8px 32px 0 rgba(73, 73, 73, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  @media (min-width: 768px) {
    .content-right {
      flex-direction: row-reverse;
    }
  }
}
